VITE_API_URL_dev=http://localhost:5000
VITE_API_URL=http://localhost:5000
GOOGLE_MAPS_API_KEY=<AIzaSyDvaeYujKvhZCbZZmt1bnrvVCLJ-NwXWrU>
VITE_AUTHORIZED_ID=testc7d6d4a4c2e1
VITE_BOT_BASIC_ID=812travn

# LINE Login OAuth URL
VITE_LINE_LOGIN_URL=https://access.line.me/oauth2/v2.1/login?returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fresponse_type%3Dcode%26client_id%3D2009966652%26redirect_uri%3D{redirectUri}%26state%3DJqv_5Bdv5IKDahQqlqIeGtvXS6HKJMLMi_e3lmoLQAar_WbF_cRMkUXqyxMADZnqDojHezxqeyWQGsScdVxjsJK6C0HKVK4v-Q9Xnz0tpuaFcUVHiomhYph6GYfMt6Ojn7nQapbwMm1e0xLaRtfv44GqvfMeEq-5n8vV8hWWpaQ3hpmVwZ3ZgdB5fFR4kpNHusAqZ-fvIYc71zHbHcV1XTRW2Ig5952zUw_J_VsL7gc%26scope%3Dprofile%2520openid&loginChannelId=2009966652&loginState=u7tA4gvzKs2vkXFkeTzcKO#